* {
  padding: 0;
  margin: 0;
}

:root {
  /* #007bff; */
  --primary-color: 0, 123, 255;
  /* #6c757d */
  --secondary-color: 108, 117, 125;
  /* #28a745 */
  --success-color: 40, 167, 69;
  /* #dc3545 */
  --danger-color: 220, 53, 69;
  /* #ffc107 */
  --warning-color: 255, 193, 7;
  /* #17a2b8 */
  --info-color: 23, 162, 184;
  /* #f8f9fa */
  --light-color: 248, 249, 250;
  /* #343a40 */
  --dark-color: 52, 58, 64;

  --spacing: 1rem;

  --size-sm: 0.5rem;
  --size-md: 1.0rem;
  --size-lg: 1.5rem;
  --size-xl: 2.0rem;

  --header-height-size: 5; 
  --footer-height-size: 10; 

  --round-sm: 0.4rem;
  --round-md: 0.8rem;
  --round-lg: 1.2rem;

  --shadow-md: 0px 1px 2px 1px rgba(var(--secondary-color), 0.5);
}

body>header {
  width: 100vw;
  height: calc(var(--spacing) * var(--header-height-size));
  background-color: rgba(var(--primary-color), 1);
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: calc(var(--spacing) * 2);
  margin-right: calc(var(--spacing) * 2);
}

h1[aria-label="logo"] {
  color: rgba(var(--light-color), 1);
  font-size: var(--size-xl);
}

h1[aria-label="logo"] a {
  color: rgba(var(--light-color), 1);
  font-size: var(--size-xl);
  text-decoration: none;
}

ul[role="menubar"] {
  display: flex;
  list-style: none;
  gap: calc(var(--spacing) * 2);
}

ul[role="menubar"] :where(a, li) {
  color: rgba(var(--light-color), 1);
  text-decoration: none;
}

body>footer {
  background-color: rgba(var(--light-color), 1);

  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(var(--spacing) * var(--footer-height-size));
}

footer p[role="doc-footnote"] {
  color: rgba(var(--secondary-color), 1);
}

body>main {
  --padding: calc(var(--spacing) * 2);

  min-height: calc(100vh - (var(--spacing) * var(--header-height-size)) - (var(--spacing) * var(--footer-height-size)) - (var(--padding) * 2));
  height: fit-content;

  margin: var(--padding);

}

h1[role="heading"] {
  color: rgba(var(--dark-color), 1);
  font-size: var(--size-xl);

  margin-bottom: calc(var(--spacing) * 1);
}

article.card {
  box-shadow: var(--shadow-md);
  width: 100%;
  height: 100%;

  border-radius: var(--round-md);
}

article.card header {
  padding: calc(var(--spacing) * 1);
}

article.card header :where(h1,h2,h3,h4,h5,h6) {
  font-size: var(--size-lg);
  text-wrap: nowrap;
}

article.card img {
  width: 100%;
}

article.card>p {
  font-size: var(--size-md);
  padding: var(--spacing);
}

article.card footer {
  padding: calc(var(--spacing) * 1);
}

a[role="link"] {
  text-decoration: none;
  color: rgba(var(--primary-color), 1);
  font-size: var(--size-md);
}

dialog[role="searchbox"] {
  padding: var(--spacing);

  border-radius: var(--round-md);
  box-shadow: var(--shadow-md);
  outline: none;
  border: none;

  margin: auto;
  margin-top: calc(var(--spacing) * 6);
}

::backdrop {
  background-color: rgba(var(--dark-color), 0.4);
  opacity: 0.75;
}

/*  */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 2);
}

button {
  background-color: rgba(var(--primary-color), 1);
  border: 1px solid rgba(var(--primary-color), 1);
  color: rgba(var(--light-color), 1);

  padding: var(--spacing);
  outline: none;
  border-radius: var(--round-sm);

  font-size: var(--size-md);
  min-width: calc(var(--spacing) * 4);
}

button:hover {
  background-color: rgba(var(--primary-color), 0.9);
  border: 1px solid rgba(var(--primary-color), 0.9);
}

button[ghost] {
  background-color: rgba(var(--light-color), 0.2);
  border: 1px solid rgba(var(--dark-color), 0.2);
  color: rgba(var(--dark-color), 1);
}

button[ghost]:hover {
  background-color: rgba(var(--light-color), 0.6);
  border: 1px solid rgba(var(--dark-color), 0.6);
}

input {
  padding: var(--spacing);
  outline: none;
  border: 1px solid rgba(var(--dark-color), 0.6);
  border-radius: var(--round-sm);

  font-size: var(--size-md);
  min-width: calc(var(--spacing) * 4);

  color: rgba(var(--secondary-color), 1);
}

input:focus {
  border: 1px solid rgba(var(--primary-color), 1);
}